
  
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Poppins:300,400&display=swap");


.container1 {
  position: relative;
  width: 1280px;
  height: 75vh;
  min-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
 
  .page {
    position: absolute;
    
    background:linear-gradient(rgba(255, 241, 146,0.8),transparent);
  background-color: #fada12;
    height: 100%;
    
    .row
    {
      margin-top: 140px;
      
      
      
      
      -webkit-margin-collapse: discard;
      .inner {
        display: flex;
        justify-content: center;
        margin:auto;
        
        
        h1 {
          font-family: "Bebas Neue";
          font-size: 52px;
          letter-spacing: 0.1rem;
          .line-wrap {
            overflow: hidden;
            height: 66px;
          }
        }
        p {
          font-family: "Poppins";
          margin-top: 200px;
          width: 340px;
          font-weight: 300;
          line-height: 24px;
          font-size: 14px;
        }
      }
    }
  }
}

.page-enter {
  opacity: 0;
}
.page-enter-active {
  opacity: 1;
  transition: opacity 400ms;
  transition-delay: 600ms;
}
.page-exit {
  opacity: 1;
}
.page-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}
